#############################################################
#                                                           #
# @file:    .gitignore                                      #
# @author:  Sam4uk<sam4uk.site@gmail.com>                   #
# @date:    28 Feb 2023                                     #
# @licence: MIT                                             #
#                                                           #
############################################################# 
.vscode
!.gitignore
# //todo ланцюжок інструментів для мак, лінукс та вінди
# https://raw.githubusercontent.com/Sam4uk/NanitBoards/develop/package_NanitRobot_index.json